.monthly-logs {
    /* background-image: url('../../img/blue_waves_papercut_6888658.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.disabled-month {
    opacity: 0.5; 
    cursor: not-allowed;
    background-blend-mode: luminosity;
}
